/* Error: expected ")".
 *   ,
 * 6 | gris:#4a4a4a,  azulmar: #30393b griscla: #797373 );
 *   |                                        ^
 *   '
 *   sass\utilities\_variable.scss 6:40  @import
 *   sass\style.scss 1:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a   \2577 \a 6 \2502  gris:#4a4a4a,  azulmar: #30393b griscla: #797373 );\a   \2502                                         ^\a   \2575 \a   sass\\utilities\\_variable.scss 6:40  @import\a   sass\\style.scss 1:9                 root stylesheet';
}
