
body{ 
    background-color: $fondo;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:map-get($map: $otros-col, $key:azulmar );
display: flex;
flex-direction: column;
    min-height: 100vh;
}

header{ 
    background-color:$color-principal;
    height: 40px; 
    width: 100%;;
}
