
body{ 
    background-color: #fefefe;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #30393b;
display: flex;
flex-direction: column;
    min-height: 100vh;
}

header{ 
    background-color:#e0f7fa;
    height: 40px; 
    width: 100%;;
}
